DATABASE_URL="mysql://root:@localhost:3306/db_mysql_ais"
JWT_SECRET="change-me"

# InfluxDB v2
# For external hosts, INFLUXDB_PROTOCOL defaults to https and INFLUXDB_PORT can be omitted.
INFLUXDB_HOST=influx.aispektra.com
INFLUXDB_ORG=my-org
INFLUXDB_BUCKET=iot_data
INFLUXDB_TOKEN=replace-with-influx-token
APP_TZ_OFFSET_MIN=420
